body {
    width: 100vw;
    margin: 0
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: silver;
    width: 1px;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    /* background-color: rgba(255, 255, 255, 0.385); */
    background-color: rgba(0, 0, 0, 0.385);
}
  
::-webkit-scrollbar-button {
    border: none;
}

nav {
    height: 50px;
    width: 100vw;
    padding: 0;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
}

.nav-links li {
    margin: 10px;
}

.nav-div-input {
    height: 50px;
    width: 350px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
    border-radius: 16px;
    height: 25px;
    width: 200px;
}

section {
    display: flex;

}

.história-title {
    background-color: #20b4ff;
}

.música-title {
    background-color: #e7389d;

}

.guerra-title{
    background-color: #ab3713;
}

.movies-ul {
    background-color: #e7c038;
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 375px;
    margin: 0;
    border-bottom: 2px solid black;
    overflow-x: auto;
}

.movies-ul li{
    list-style-type: none;
    margin: 10px;
}

.poster-image {
    width: 200px;
}

.história-title, .música-title, .guerra-title{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 375px;
    font-family: 'Corben', cursive;;
    align-items: center;
    justify-content: center;
}

.história-title h1, .música-title h1, .guerra-title h1{
    font-size: 48px;
    margin: 0;
}

h5{
    font-family: 'Montserrat', sans-serif;
    width: 230px;
    margin: 0;
}

.logo-h1{
    text-align: center;
}

article{
        display: flex;
}

.bloco-left{
    display: flex;
    justify-content: center;
    background-color: #20b4ff;
    border-right: 2px solid black;
    width: 250vw;
}

.bloco-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 600px;
    background-color: white;
    box-shadow: 10px 10px 0px 1px rgba(0,0,0,0.75);
    width: 600px;
    margin: 40px;
}
.bloco-texto p{
    margin-top: 0;
    text-align: justify;
    width: 500px; 
    margin-left: 30px;
    margin-right: 30px;
}

.bloco-right{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.text-right-up{
    margin-top: 300px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    width: 100%; 
    font-size: 20px;
    height: 300px;
    border-bottom: 2px solid black;
    overflow: auto;
}

.text-right-up p{
    overflow: auto;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
}

.bloco-right-row{
    display: flex;
}

.div-blue{
    background-color: #3961e1;
    height: 150px;
    width: 22vw;
    border: 2px solid black;
}

.text-right-down{
    background-color: #ec285f;
    width: 22vw;
    height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.text-right-down p {
margin: 30px;
}

.logo-equipe{
    background-color: #52b700;
    /* width: 458px; */
    flex-grow: 1;
    height: 458px;
}

/* .placeholder{

} */

@media screen and (max-width: 1600px) {
    .logo-equipe{
        width: 400px;
        height: 400px;
    }

    .text-right-up {
        /* width: 75%; */
        background-color: white;
        font-size: 18px;
    }

    .text-right-down {
        height: 242px;
    }

    .bloco-left {
        width: 100vw;
    }

    .bloco-right {
        /* background-color: #52b700; */
    }

    /* .bloco-right-row {

    } */
}

@media screen and (max-width: 1450px) {
    .história-title h1, .música-title h1, .guerra-title h1{
        font-size: 38px;
    }

    .bloco-left {
        width: 45vw;
    }

    .bloco-texto     {
        font-size: 18px;
    }

    .bloco-texto p {
        width: 400px;
    }
}

@media screen and (max-width: 1230px) {
    .logo-equipe {
        /* width: calc(100vw - 200px); */
        /* max-width: 380px; */
        flex-grow: 1;
    }

    .bloco-left {
        width: 40vw;
    }

    .bloco-texto, .text-right-up, .text-right-down {
        font-size: 15px;
    }

    .bloco-texto p {
        width: 300px;
    }
}

@media screen and (max-width: 1030px) {
    .nav-links {
        padding: 0;
        width: 70vw;
        align-items: center;
        font-size: 15px;
    }

    .nav-links li {
        margin: 2px;
    }

    .nav-div-input {
        width: 30vw;
    }
    
    input {
        width: 150px;
    }

    .bloco-left {
        width: 30vw;
    }

    .bloco-texto {
        width: 25vw;
    }
    
    .bloco-texto p {
        width: 20vw;
        overflow: auto;
    }
    
    .bloco-texto, .text-right-up, .text-right-down {
        font-size: 10px;
    }

}

@media screen and (max-width: 840px) {
    article {
        flex-direction: column;
        width: 90vw;
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }
    .bloco-left {
        width: 100vw;
        padding: 0;
    }

    .bloco-texto {
        height: 40vh;
        width: 70vw;
    }

    .bloco-texto p {
        width: 50vw;
    }
    .bloco-right {
        width: 90vw;
    }
    .text-right-up {
        width: 100vw;
    }
    .text-right-up p {
        width: 90vw;
    }
    .bloco-right-row {
        display: flex;
        flex-direction: column;
    }
    .div-blue {
        width: 100vw;
    }
    .text-right-down {
        width: 100vw;
    }
    .poster-image {
        width: 100px;
    }
    .logo-equipe {
        width: 100vw;
    }
}

@media screen and (max-width: 630px) {
    .logo-h1{
        width: 100%;
    }
    .logo-h1 img{
        width: 200px;
    }

    .nav-links {
        font-size: 8px;
    }
    
    input {
        width: 120px;
    }
    .poster-image {
        width: 70px;
    }
}


@media screen and (max-width: 490px) {
    .nav-links {
        width: 70vw;
        font-size: 5px;
    }

    .nav-links li {
        margin: 2px;
    }

    input {
        width: 80px;
    }
    .poster-image {
        width: 40px;
    }
    .música-title, .guerra-title, .história-title {
        width: 40vw;
    }
    .música-title h1, .guerra-title h1, .história-title h1 {
        font-size: 20px;
    }
    .música-title h5, .guerra-title h5, .história-title h5 {
        font-size: 10px;
        width: 20vw;
    }
}

@media screen and (max-width: 330px) {
    input {
        width: 50px;
        font-size: 10px;
    }
}
  